<h1>Hi! Ask a question</h1>
<form action="/answer" class="form-inline">
  <input type="text" name="question" placeholder="ask a question" class="form-control">
  <button type="submit" class="btn btn-primary">Ask</button>
</form>
